footer.footer
    .talk.container
        .talk__wrapper
            h2.talk__title.title Intersted to woek with our team?
            p.talk__text.opacity Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        button.talk__btn.btn Let's Talk
    .footer__line.container
    .contacts.container#contacts
        .connection
            .connection__title
                include ../../assets/logoLight.svg
                h3.connection__name Afrianska
            .connection__adress
                strong A.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .connection__tel 
                strong T.
                p +62-812-7313-4321
            .connection__email
                strong E.
                p hello.afrian@gmail.com
        .about-us
            strong.about-us__title About US
            a.link(href="#") About
            a.link(href="#") What We Do
            a.link(href="#") Project
            a.link(href="#") How It Work With Us
        .follow-us 
            strong.follow-us__title Follow US
            a.link(href="#") Instagram
            a.link(href="#") Facebook
            a.link(href="#") Linkedin
            a.link(href="#") Youtube
    .date.container.opacity #{(new Date()).getFullYear()} © Afrianska. All rights reserved.