header.header
    .header__wrap
        include ../../assets/logoDark.svg
        nav.header__nav
            a.header__link.link(href="#primary") 
                strong About US
            a.header__link.link(href="#main") 
                strong What We Do
            a.header__link.link(href="#clients") 
                strong Our Clients
            a.header__link.link(href="#footer") 
                strong Contacts
        button.hamburger Menu