@font-face {
    font-family: 'Galien';
    src: url('../assets/fonts/Galien.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}