@import "~normalize.css";
@import 'fonts.scss';
@import 'mixins.scss';


//- База

body {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    color: $basic-color;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

* {
    box-sizing: border-box;
    margin: 0;
}

svg {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;

    @include media(tablet) {
        max-width: 600px;
    }

    @include media(mobile) {
        max-width: 360px;
    }
}

.btn {
    width: 220px;
    height: 56px;
    background-color: $light-blue;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 0.04em;
}

.title {
    font-size: 36px;
    line-height: 46px;
}

.light {
    color: #ffffff;
}

.opacity {
    opacity: 0.6;
}

//- Header
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    height: 100px;
    max-width: 1366px;
    margin: 0 auto;
    z-index: 6;

    &__nav {
        display: flex;
        width: 800px;
        justify-content: space-between;
        
        .link {
            padding: 30px 20px;
            text-decoration: none;
            color: $basic-color;
            transition: color ease-in .3s, text-shadow ease-in .3s;
            @extend %bold-size
        }

        .link:hover {
            color: $light-blue;
            text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
        }
    }

    .hamburger {
        display: none;
    }
}

//- Primary
.primary {
    margin-top: 100px;
    height: 668px;
    background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
    max-width: 100%;

    @include media(tablet) {
        height: auto;
        padding-bottom: 100px;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        position: relative;
        top: 80px;
        z-index: 1;

        @include media(tablet) {
            position: static;
        }

        &-title {
            font-family: 'Galien', serif;
            font-size: 64px;
            line-height: 74px;
            letter-spacing: 0.02em;
            width: 510px;
        }
        &-text {
            margin-top: 40px;
            max-width: 405px;
        }
        &-btn {
            margin-top: 60px;
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
            transition: background-color ease-in-out .3s;
        }
        &-btn:hover {
            background-color: $basic-color;
        }
    }
    &__img {
        position: absolute;
        right: 255px;
        top: 90px;
        
        z-index: 0;
        @include media(mid-desktop) {
            right: 20px;
        }

        @include media(mini-desktop) {
            position: relative;
        }

        @include media(tablet) {
            display: none;
        }
    }
}

//- Main

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 92px;

    @include media(tablet) {
        padding-top: 0;
    }
    

    &__title {
        max-width: 358px;
        color: #316099;
        padding-bottom: 58px;
        padding-top: 100px;

        @include media(tablet) {
            padding-bottom: 0;
        }
    }

    .left-side {
        margin-right: 100px;
        width: 460px;

        @include media(tablet) {
            margin-right: 0;
            margin-left: 80px;
            max-width: 460px;
        }
    }
}

.article {
    width: 380px;
    padding: 48px;
    margin-top: 100px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

    .img-wrapper {
        padding-top: 56px;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 56px;
        right: 19px;
    }

    .img-wrapper_2 {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 51px;
    }

    &__title {
        letter-spacing: 0.02em;
        @extend %bold-size;
    }

    &__text {
        margin: 16px 0 32px;
    }

    .learn-more {
        font-size: 14px;
        line-height: 30px;
        color: $light-blue;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        &__vector {
            margin-left: 28px;
        }
    }
}

.article-1 {
    margin-left: 80px;

    @include media(tablet) {
        margin-left: 0;
    }
    
}

.article-2 {
    padding-top: 28px;
}

//- Clients
.bottom-background_1 {
    background: $light-blue;
    border-radius: 200px 0px 0px 0px;
    width: 100%;
    margin-top: 212px;

    @include media(tablet) {
        border-radius: 100px 0px 0px 0px;
        margin-top: 100px;
    }
}

.clients {
    padding-top: 96px;
    padding-bottom: 125px;
    
    @include media(tablet) {
        padding-bottom: 70px;
    }

    &__header {
        display: flex;
    }

    &__title {
        width: 223px;
        margin: 0 97px 0 0;
    }

    &__text {
        max-width: 540px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 111px;
        justify-content: center;
        border: 0;

        @include media(tablet) {
            padding-top: 50px;
        }

        .client {
            width: 235px;
            height: 128px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ffffff;
            border-top: 0;
            @include media(tablet) {
                border: 0;
            }

            &:first-child {
                border-left: 0;
                @include media(tablet) {
                    border: 0;
                }
            }
            &:nth-child(4) {
                border-right: 0;
                @include media(tablet) {
                    border: 0;
                }
            }
            &:nth-child(5) {
                border-left: 0;
                border-bottom: 0;
                @include media(tablet) {
                    border: 0;
                }
            }
            &:nth-child(6) {
                border-bottom: 0;
                @include media(tablet) {
                    border: 0;
                }
            }
            &:nth-child(7) {
                border-bottom: 0;
                @include media(tablet) {
                    border: 0;
                }
            }
            &:nth-child(9) {
                border-right: 0;
                border-bottom: 0;
                @include media(tablet) {
                    border: 0;
                }
            }
            &:nth-child(10) {
                border-top: 1px solid #ffffff;
                border-left: 0;
                border-bottom: 0;
                @include media(tablet) {
                    border: 0;
                }
            }
            &:last-child {
                border-top: 1px solid #ffffff;
                border-bottom: 0;
                border-right: 0;
                @include media(tablet) {
                    border: 0;
                }
            }
        }

        .more-client__btn {
            background-color: rgba(31, 63, 104, 0.2);
            color: #ffffff;
            font-size: 20px;
            line-height: 46px;
            letter-spacing: 0.02em;
            cursor: pointer;
            width: 235px;
            height: 128px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color ease-in .3s;
        }

        .more-client__btn:hover {
            background-color: #316099;
        }

        .more-client__btn--disabled {
            display: none;
        }

        .more-client__item {
            display: none;
        }

        .more-client__item--activate {
            display: flex;
        }
    }
}

//- Footer
.bottom-background_2 {
    background-color: #316099;
    border-radius: 0px 200px 0px 0px;
    margin-right: 96px;

    @include media(tablet) {
        margin-right: 0;
        border-radius: 0px 100px 0px 0px;
    }
}

.footer {
    position: relative;
    left: 46px;
    padding-bottom: 64px;

    @include media(tablet) {
        margin-right: 0;
        position: static;
    }

    &__line {
        content: '';
        display: block;
        width: 940px;
        border-top: 2px solid rgba(255, 255, 255, 0.4);
        opacity: 0.6;
    }

    &__line::before {
        content: '';
        display: block;
        position: relative;
        right: 1022px;
        bottom: 2px;
        width: 1000px;
        border: 1px solid rgba(255, 255, 255, 0.4);
    }

    .talk {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 91px 20px 96px;

        &__title {
            margin: 0 0 32px;
            max-width: 317px;
        }

        &__text {
            max-width: 460px;
        }
        &__btn {
            transition: color ease-in .3s;
        }
        &__btn:hover {
            color: $basic-color;
        }
    }

    .contacts {
        display: flex;
        align-items: flex-start;
        padding-top: 96px;
        padding-bottom: 40px;
        
        .connection {
            padding-right: 100px;

            @include media(tablet) {
                padding-right: 50px;
            }

            &__title {
                display: flex;
                align-items: center;
                padding-bottom: 33px;
            }

            &__name {
                font-size: 28px;
                line-height: 46px;
                padding-left: 15px;
            }
            &__adress {
                display: flex;
                align-items: flex-start;
            }
            &__tel {
                display: flex;
            }
            &__email {
                display: flex;
            }

            p {
                padding-left: 16px;
                padding-bottom: 24px;
                max-width: 264px;
            }
        }
        
        .about-us {
            display: flex;
            flex-direction: column;
            padding-right: 77px;

            @include media(tablet) {
                padding-right: 30px;
            }

            &__title {
                @extend %bold-size;
                padding-bottom: 24px;
            }
            
        }
        
        .follow-us {
            display: flex;
            flex-direction: column;
            
            &__title {
                @extend %bold-size;
                padding-bottom: 24px;
            }
        }

        .link {
            padding: 8px 15px 8px 0;
            text-decoration: none;
            color: #ffffff;
            transition: color ease-in .3s;
        }
        .link:hover {
            color: #c5c5c5;
            
        }
    }
}

//- Modal

.modal-form {
    @extend %modal;

    .form {
        width: 540px;
        padding: 56px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;

        &__header-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        @include close-btn();

        &__title {
            @extend %bold-size;
            letter-spacing: 0.04em;
            color: $basic-color;
            padding-bottom: 16px;
        }

        .label {
            padding-top: 32px;
            padding-bottom: 8px;
            opacity: 0.8;
            line-height: 30px;
            color: $basic-color
        }

        &__input {
            border: 1px solid #356EAD;
            border-radius: 10px;
            padding: 21px 36px;
            opacity: 0.6;
            letter-spacing: 0.04em;
            resize: none;
        }

        &__button {
            padding: 0;
            margin-top: 72px;
            width: 428px;
            height: 72px;
            background-color: $light-blue;
            color: #ffffff;
            letter-spacing: 0.04em;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            border: 0;
        }

        &__error {
            display: none;
        }

        &__error--active {
            display: block;
            text-align: center;
            color: red;
        }
    }
}

.modal-msg {
    @extend %modal;

    .msg {
        display: flex;
        justify-content: space-between;
        padding: 56px;
        background-color: #ffffff;
        border-radius: 10px;
        @extend %bold-size;
        color: $basic-color;
        letter-spacing: 0.04em;

        &__title {
            padding-right: 20px;
            width: 250px;
        }

        @include close-btn();
    }
}

.modal--active {
    display: flex;
    justify-content: center;
    align-items: center;
}
