@import "~normalize.css";
@import './import/fonts.scss';
@import './import/mixins.scss';
@import './import/header.scss';
@import './import/primary.scss';
@import './import/main.scss';
@import './import/clients.scss';
@import './import/footer.scss';
@import './import/modals.scss';


body {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    color: $basic-color;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;

    @include media(mobile) {
        letter-spacing: 0.04em;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

svg {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;

    @include media(tablet) {
        max-width: 600px;
    }

    @include media(mobile) {
        max-width: 360px;
    }
}

.btn {
    width: 220px;
    height: 56px;
    background-color: $light-blue;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 0.04em;
}

.title {
    font-size: 36px;
    line-height: 46px;

    @include media(mobile) {
        font-size: 30px;
        line-height: 40px;
    }
}

.light {
    color: #ffffff;
}

.opacity {
    opacity: 0.6;
}