.bottom-background_2 {
    background-color: #316099;
    border-radius: 0px 200px 0px 0px;
    margin-right: 96px;

    @include media(tablet) {
        margin-right: 0;
        border-radius: 0px 100px 0px 0px;
    }
}

.footer {
    position: relative;
    left: 46px;
    padding-bottom: 64px;

    @include media(tablet) {
        margin-right: 0;
        position: static;
    }

    &__line {
        content: '';
        display: block;
        width: 940px;
        border-top: 2px solid rgba(255, 255, 255, 0.4);
        opacity: 0.6;
    }

    &__line::before {
        content: '';
        display: block;
        position: relative;
        right: 1022px;
        bottom: 2px;
        width: 1000px;
        border: 1px solid rgba(255, 255, 255, 0.4);
    }

    .talk {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 91px 20px 96px;

        @include media(mobile) {
            display: block;
            text-align: center;
            padding-bottom: 70px;
        }

        &__title {
            margin: 0 0 32px;
            max-width: 317px;
        }

        &__text {
            max-width: 460px;
        }
        &__btn {
            transition: color ease-in .3s;
            @include media(mobile) {
                margin-top: 32px;
            }
        }
        &__btn:hover {
            color: $basic-color;
        }
    }

    .contacts {
        display: flex;
        align-items: flex-start;
        padding-top: 96px;
        padding-bottom: 40px;

        @include media(mobile) {
            display: block;
            padding-top: 70px;
        }
        
        .connection {
            padding-right: 100px;

            @include media(tablet) {
                padding-right: 50px;
            }

            @include media(mobile) {
                padding-bottom: 30px;
            }

            &__title {
                display: flex;
                align-items: center;
                padding-bottom: 33px;

                @include media(mobile) {
                    padding-bottom: 15px;
                }
            }

            &__name {
                font-size: 28px;
                line-height: 46px;
                padding-left: 15px;
            }
            &__adress {
                display: flex;
                align-items: flex-start;
            }
            &__tel {
                display: flex;
            }
            &__email {
                display: flex;
            }

            p {
                padding-left: 16px;
                padding-bottom: 24px;
                max-width: 264px;
            }
        }
        
        .about-us {
            display: flex;
            flex-direction: column;
            padding-right: 77px;

            @include media(tablet) {
                padding-right: 30px;
            }

            @include media(mobile) {
                padding-bottom: 30px;
            }

            &__title {
                @extend %bold-size;
                padding-bottom: 24px;

                @include media(tablet) {
                    font-size: 18px;
                    line-height: 28px;
                }

                @include media(mobile) {
                    padding-bottom: 15px;
                }
            }
            
        }
        
        .follow-us {
            display: flex;
            flex-direction: column;
            
            &__title {
                @extend %bold-size;
                padding-bottom: 24px;

                @include media(tablet) {
                    font-size: 18px;
                    line-height: 28px;
                }

                @include media(mobile) {
                    padding-bottom: 15px;
                }
            }
        }

        .link {
            padding: 8px 15px 8px 0;
            text-decoration: none;
            color: #ffffff;
            transition: color ease-in .3s;
        }
        .link:hover {
            color: #c5c5c5;
            
        }
    }
}