.modal-form {
    @extend %modal;

    .form {
        margin: auto;
        width: 540px;
        padding: 56px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;

        animation-duration: 0.55s;
        animation-fill-mode: both;
        animation-name: fadeInDown;

        @include media(mobile) {
            width: 100%;
            height: 100%;
            padding: 40px 20px;
            border-radius: 0;
            min-height: 641px;
        }

        &__header-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        @include close-btn();

        &__title {
            @extend %bold-size;
            letter-spacing: 0.04em;
            color: $basic-color;
            padding-bottom: 16px;
        }

        .label {
            padding-top: 18px;
            padding-bottom: 8px;
            opacity: 0.8;
            line-height: 30px;
            color: $basic-color
        }

        @include media(mobile) {
            .label {
                padding-top: 15px;
            }
        }

        &__input {
            border: 1px solid #356EAD;
            border-radius: 10px;
            padding: 21px 36px;
            opacity: 0.6;
            letter-spacing: 0.04em;
            resize: none;
            min-height: 65px;
        }

        &__button {
            padding: 0;
            margin-top: 58px;
            width: 428px;
            min-height: 72px;
            background-color: $light-blue;
            color: #ffffff;
            letter-spacing: 0.04em;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            border: 0;
            transition: background-color ease-in .3s;

            @include media(mobile) {
                width: 100%;
                margin: 40px auto 20px;
            }
        }

        &__button:hover {
            background-color: $basic-color;
        }

        &__error {
            opacity: 0;
            font-size: 12px;
            line-height: 22px;
            color: darkred
        }

        .valid {
            box-shadow: 0px 0px 0px 2px green;
            outline: none;
        }
        
        .invalid {
            box-shadow: 0px 0px 0px 2px orange;
            outline: none;
        }

        .invalid+p {
            opacity: 1;
        }
    }
}


.modal-msg {
    @extend %modal;

    .msg {
        display: flex;
        justify-content: space-between;
        padding: 56px;
        background-color: #ffffff;
        border-radius: 10px;
        @extend %bold-size;
        color: $basic-color;
        letter-spacing: 0.04em;

        animation-duration: 0.55s;
        animation-fill-mode: both;
        animation-name: fadeInDown;

        &__title {
            padding-right: 20px;
            width: 250px;
        }

        @include close-btn();
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0px, -100%, 0px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}