.primary {
    margin-top: 100px;
    height: 668px;
    background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
    max-width: 100%;

    @include media(mini-desktop) {
        height: auto;
        padding-bottom: 200px;
    }

    @include media(tablet) {
        padding-bottom: 100px;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        position: relative;
        top: 80px;
        z-index: 1;

        @include media(tablet) {
            position: static;
        }

        &-title {
            font-family: 'Galien', serif;
            font-size: 64px;
            line-height: 74px;
            letter-spacing: 0.02em;
            max-width: 510px;

            @include media(mobile) {
                font-size: 45px;
                line-height: 55px;
            }
        }
        &-text {
            margin-top: 40px;
            max-width: 405px;
        }
        
        &-btn {
            margin-top: 60px;
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
            transition: background-color ease-in-out .3s;
        }

        &-btn:hover {
            background-color: $basic-color;
        }

        @include media(mobile) {
            .info-btn__wrap {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }
    }
    &__img {
        position: absolute;
        right: 255px;
        top: 90px;
        
        z-index: 0;
        @include media(mid-desktop) {
            right: 20px;
        }

        @include media(mini-desktop) {
            position: relative;
        }

        @include media(tablet) {
            display: none;
        }
    }
}