doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="favicon.ico", type="image/ico")
    title D-Element Test
body
    include includes/header

    block content

    .bottom-background_1.light
        include includes/clients
        .bottom-background_2
            include includes/footer

    include includes/modals